@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif !important;
  color: #373a3c;
}

.ant-switch.ant-switch-checked, .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #1abc9c;
} 
.ant-modal-root .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.089) !important;
}
.ant-modal{
  width: 60% !important;
}

.ant-modal-title{
  font-size: 18px !important;
  font-weight: 600 !important;
}

.ant-modal-footer{
  display: none !important;
}